:root {
    --prim-bold: hsl(265, 100%, 65%);
    --prim-fg: hsl(265, 100%, 40%);
    --prim-bg: hsl(265, 100%, 30%);
    --snd-bold: hsl(5, 100%, 65%);
    --snd-fg: hsl(5, 100%, 35%);
    --snd-bg: hsl(5, 100%, 15%);
}

body {
    color: lightgray;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-areas:
        'header header header'
        'menu main aside'
        'menu footer footer';
    gap: .2rem;
    padding: .1rem;
}

main {
    margin-top: 25%;
    grid-area: main;
    width: 80%;
}

header {
    color:var(--prim-fg);
    font-size: 2rem;
}

.name {
    color: var(--prim-bold);
    text-shadow: 2px 2px var(--snd-bg);
    text-transform: capitalize;
}

.name:hover{
    color: var(--snd-bold);
}

section {
    color: lightgrey;
    line-height: 1.2;
}

a {
    color: var(--snd-fg);
}

a:hover {
    color: var(--snd-bold);
}

section {
    margin-bottom: 0.8rem;
}

div.subsection {
    margin-bottom: 0.6rem;
}

div.subsubsection {
    margin-bottom: 0.5rem;
}

section.cv {
    display: none;
}
